body {
  background-color: #F5EFED;
  color: #0F0A0A;
  font-family: Helvetica, sans-serif;
  background-image: url(https://www.transparenttextures.com/patterns/gplay.png);
}

.data-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 4fr;
  justify-items: center;
  height: 85vh;
}

.dropdown {
  grid-column: 1;
}

.cities-list {
overflow: scroll;
grid-column: 1;
}

.city-overview {
  background-color: #BDBF09;
  border-radius: 10px;
  list-style: none;
  padding: 1em;
  min-width: 100px;
  width: 20vw;
  text-align: center;
}

.city-overview:hover{
  border-radius: 10px;
  list-style: none;
  padding: 1em;
  min-width: 100px;
  width: 20vw;
  text-align: center;
  background-color: #2292A4;
  transition: 0.25s;
}

.city-overview {
  font-size: 0.8em;
  font-style: italic;
  padding: 1em;
}

.city-overview a{
  color: #416165;
  font-weight: bold;
  font-style: normal;
  font-size: 1.15em;
  cursor:pointer;
  padding: 0.5em 1em 0.5em 1em;

}

.city-overview a:hover{
  color: #F5EFED;
}

.city-detail {
  grid-column: 2;
  grid-row: 1 / span 2;
  justify-items: center;
  padding-top: 2em;
  text-align: center;
  width: 65vw;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.city-info {
  width: 65vw;
  text-align: center;
}

#mapid {
  height: 60vh;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  margin-top: 3em;
}

select {
  font-size: 0.9em;
  width: 25vw;
}
