body {
  background-color: #f9f7fb;
  color: #484D6D;
  font-family: 'PT Sans', sans-serif;
  background-image: url('../images/bicycle.png');
}

h1 {
  font-family: 'Concert One', cursive;
  font-size: 3em;
  color: #EE6352;
}

h2 {
  font-family: 'Concert One', cursive;
  font-size: 2em;
  color: #EE6352;
}


.data-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 4fr;
  justify-items: center;
  height: 95vh;
}

.dropdown {
  grid-row: 1;
  grid-column: 2;
  align-self: center;
}

.cities-list {
overflow: scroll;
grid-column: 1;
grid-row: 2;
}

.city-overview {
  background-color: #57A773;
  border-radius: 10px;
  list-style: none;
  padding: 1em;
  min-width: 100px;
  width: 20vw;
  text-align: center;
}

.city-overview:hover{
  background-color: #08B2E3;
  transition: 0.25s;
}

.city-overview:active{
  background-color: #0792BA;
  transition: 0.25s;
}

.city-overview:focus{
  background-color: #08B2E3;
  transition: 0.25s;
}

.city-overview {
  font-size: 0.8em;
  font-style: italic;
  padding: 1em;
}

.city-overview a{
  color: #416165;
  font-style: normal;
  font-family: 'Concert One', cursive;
  font-size: 1.75em;
  cursor:pointer;
  padding: 0.2em 0.5em 0.2em 0.5em;

}

.city-overview a:hover{
  color: #F5EFED;
}

.city-detail {
  grid-column: 2;
  grid-row: 2;
  align-items: center;
  text-align: center;
  width: 65vw;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.city-info {
  width: 65vw;
  text-align: center;
}

#mapid {
  height: 60vh;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3%;
  margin-top: 3em;
}

select {
  font-size: 1.05em;
  width: 25vw;
  padding: 0.1em;
}

label {
  font-family: 'Concert One', cursive;
    font-size: 1.2em;
}
